$gray: #e7e7e7;
$purple: #35203b;
$green: #35203b;
$pink: #911146;
$orange: #cf4a30;
$yellow: #ed8c2b;

.bg-gray { background-color: $gray; }
.bg-purple { background-color: $purple; }
.bg-green { background-color: $green; }
.bg-pink { background-color: $pink; }
.bg-orange { background-color: $orange; }
.bg-yellow { background-color: $yellow; }

.text-gray { color: $gray; }
.text-purple { color: $purple; }
.text-green { color: $green; }
.text-pink { color: $pink; }
.text-orange { color: $orange; }
.text-yellow { color: $yellow; }
