@import "compass/css3/font-face";

//@import url("//fonts.googleapis.com/css?family=Lato:100,400,900");

$Lato: "Lato";
$Aktiv: "aktiv-grotesk";
// 200, 300, 500, 800
$Universal: "P22BayerUniversal";

body {
  font-family: $Aktiv;
  -webkit-font-smoothing: subpixel-antialiased;
}

.header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 92px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -3px;
  
  em {
    @extend .text-light;
  }
  
  &.text-xlarge {
    font-size: 3.5rem;
  }
}

.subheader {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -1px;
  text-transform: uppercase;
}

@include font-face($Universal, font-files("universal.ttf"));

.font-universal {
  font-family: $Universal;
}
